@import url("https://fonts.googleapis.com/css2?family=Inter&family=Righteous&family=Sintony:wght@400;700&family=Source+Sans+Pro:wght@400;700;900&display=swap");
body {
  background: url(../img/BG.png) no-repeat top;
  font-family: "Source Sans Pro", sans-serif;
}

.header {
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
}

@media (max-width: 1170px) {
  .header {
    margin-right: calc(20px + 80 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .header {
    margin-left: calc(20px + 80 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .header {
    margin-top: calc(5px + 15 * ((100vw - 320px) / 850));
  }
}

.header__logo {
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  line-height: 29px;
  text-transform: uppercase;
  color: #17252a;
}

@media (max-width: 1170px) {
  .header__logo {
    font-size: calc(8px + 22 * ((100vw - 320px) / 850));
  }
}

.header__m-menu {
  display: none;
}

@media (max-width: 992px) {
  .header__m-menu {
    display: block;
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
    margin-left: 45%;
    cursor: pointer;
  }
}

.header__menu {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Sintony", sans-serif;
  font-weight: normal;
  line-height: 24px;
  color: #feffff;
}

@media (max-width: 1170px) {
  .header__menu {
    font-size: calc(11px + 5 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 992px) {
  .header__menu {
    position: absolute;
    right: 8%;
    top: 8%;
    padding: 15px;
    margin-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #feffff;
    color: #17252a;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
  }
}

.header__menu-item:not(:last-child) {
  padding-right: 43px;
}

@media (max-width: 1170px) {
  .header__menu-item:not(:last-child) {
    padding-right: calc(8px + 35 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 992px) {
  .header__menu-item:not(:last-child) {
    padding: 0;
  }
}

.header__assebility {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  background: transparent;
}

@media (max-width: 1170px) {
  .header__assebility {
    width: calc(40px + 60 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .header__assebility {
    height: calc(40px + 60 * ((100vw - 320px) / 850));
  }
}

.header__assebility-img {
  -webkit-filter: hue-rotate(120deg) brightness(10);
          filter: hue-rotate(120deg) brightness(10);
  width: 90px;
  height: 90px;
}

@media (max-width: 1170px) {
  .header__assebility-img {
    width: calc(30px + 60 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .header__assebility-img {
    height: calc(30px + 60 * ((100vw - 320px) / 850));
  }
}

.main {
  max-width: 1108px;
  margin-left: 165px;
  margin-right: 165px;
  font-family: "Source Sans Pro", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

@media (max-width: 1170px) {
  .main {
    max-width: calc(300px + 808 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .main {
    margin-left: calc(20px + 145 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .main {
    margin-right: calc(20px + 145 * ((100vw - 320px) / 850));
  }
}

.main__title {
  font-size: 58px;
  margin-top: 100px;
  margin-bottom: 100px;
  font-weight: 900;
  line-height: 56px;
  color: #feffff;
  text-align: center;
}

@media (max-width: 1170px) {
  .main__title {
    font-size: calc(20px + 38 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .main__title {
    margin-top: calc(30px + 70 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .main__title {
    margin-bottom: calc(30px + 70 * ((100vw - 320px) / 850));
  }
}

.main__colorize {
  color: #17252a;
}

.main__button {
  width: 400px;
  height: 70px;
  background-color: #17252a;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 4.2px;
  text-transform: uppercase;
  color: #def2f1;
}

@media (max-width: 1170px) {
  .main__button {
    width: calc(200px + 200 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .main__button {
    height: calc(50px + 20 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .main__button {
    font-size: calc(11px + 9 * ((100vw - 320px) / 850));
  }
}

.main__cards {
  margin-top: 96px;
  margin-left: 163px;
  margin-right: 163px;
  max-width: 94vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1170px) {
  .main__cards {
    margin-top: calc(50px + 46 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .main__cards {
    margin-left: calc(60px + 103 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .main__cards {
    margin-right: calc(60px + 103 * ((100vw - 320px) / 850));
  }
}

.main__card:not(:last-child) {
  margin-right: 27px;
}

@media (max-width: 1170px) {
  .main__card:not(:last-child) {
    margin-right: calc(10px + 17 * ((100vw - 320px) / 850));
  }
}

.main__card {
  width: 400px;
  height: 390px;
  padding: calc(15px + 35 * ((100vw - 320px) / 1600));
  background-color: #feffff;
  -webkit-box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
          box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1170px) {
  .main__card {
    width: calc(55px + 345 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .main__card {
    height: calc(190px + 200 * ((100vw - 320px) / 850));
  }
}

.main__card-img {
  width: 80px;
  height: 80px;
}

@media (max-width: 1170px) {
  .main__card-img {
    width: calc(40px + 40 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .main__card-img {
    height: calc(40px + 40 * ((100vw - 320px) / 850));
  }
}

.main__card-title {
  font-size: 18px;
  padding-top: 32px;
  font-weight: 900;
  line-height: 27px;
  text-align: center;
  color: #17252a;
}

@media (max-width: 1170px) {
  .main__card-title {
    font-size: calc(12px + 6 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .main__card-title {
    padding-top: calc(15px + 17 * ((100vw - 320px) / 850));
  }
}

.main__card-text {
  font-size: 18px;
  padding-top: 47px;
  text-align: center;
  color: #17252a;
}

@media (max-width: 1170px) {
  .main__card-text {
    font-size: calc(12px + 6 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .main__card-text {
    padding-top: calc(20px + 27 * ((100vw - 320px) / 850));
  }
}

.main__info {
  width: 1114px;
  height: 329px;
  margin-top: 114px;
  background: url(../img/BG-info.png) no-repeat;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1170px) {
  .main__info {
    width: calc(280px + 834 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .main__info {
    height: calc(200px + 129 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .main__info {
    margin-top: calc(60px + 54 * ((100vw - 320px) / 850));
  }
}

.main__info-title {
  padding-top: calc(7px + 33 * ((100vw - 320px) / 1600));
  font-size: 28px;
  font-weight: 900;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.1px;
  color: #feffff;
}

@media (max-width: 1170px) {
  .main__info-title {
    font-size: calc(14px + 14 * ((100vw - 320px) / 850));
  }
}

.main__info-subtitle {
  font-size: 18px;
  width: 441px;
  font-family: "Sintony", sans-serif;
  font-weight: normal;
  line-height: 27px;
  text-align: center;
  color: #feffff;
}

@media (max-width: 1170px) {
  .main__info-subtitle {
    font-size: calc(10px + 8 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .main__info-subtitle {
    width: calc(300px + 141 * ((100vw - 320px) / 850));
  }
}

.main__info-button {
  width: 254px;
  height: 52px;
  margin-bottom: 40px;
  font-size: calc(8px + 7 * ((100vw - 320px) / 1600));
  font-family: "Source Sans Pro", sans-serif;
  background-color: #def2f1;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  letter-spacing: 4.2px;
  text-transform: uppercase;
  color: #17252a;
}

@media (max-width: 1170px) {
  .main__info-button {
    width: calc(112px + 142 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .main__info-button {
    height: calc(31px + 21 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .main__info-button {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 850));
  }
}

.footer {
  width: 1114px;
  height: 329px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

@media (max-width: 1170px) {
  .footer {
    width: calc(280px + 834 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .footer {
    height: calc(100px + 229 * ((100vw - 320px) / 850));
  }
}

.footer__text {
  width: 308px;
  font-size: 18px;
}

@media (max-width: 1170px) {
  .footer__text {
    width: calc(300px + 8 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .footer__text {
    font-size: calc(10px + 8 * ((100vw - 320px) / 850));
  }
}

.footer__contacts {
  margin-left: 35px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Sintony", sans-serif;
  line-height: 27px;
  color: #17252a;
}

@media (max-width: 1170px) {
  .footer__contacts {
    margin-left: calc(15px + 20 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .footer__contacts {
    font-size: calc(8px + 10 * ((100vw - 320px) / 850));
  }
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__contact:not(:last-child) {
  margin-right: 93px;
}

@media (max-width: 1170px) {
  .footer__contact:not(:last-child) {
    margin-right: calc(13px + 80 * ((100vw - 320px) / 850));
  }
}

.footer__email {
  margin-right: 93px;
}

@media (max-width: 1170px) {
  .footer__email {
    margin-right: calc(13px + 80 * ((100vw - 320px) / 850));
  }
}

.footer__telephone {
  margin-right: 93px;
}

@media (max-width: 1170px) {
  .footer__telephone {
    margin-right: calc(13px + 80 * ((100vw - 320px) / 850));
  }
}

.hidden {
  display: none;
}

.is-open {
  opacity: 70%;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
