@import url("https://fonts.googleapis.com/css2?family=Inter&family=Righteous&family=Sintony:wght@400;700&family=Source+Sans+Pro:wght@400;700;900&display=swap");

// Миксин для адаптива
$maxWidth: 1920;
$maxWidthContainer: 1170;

@mixin adaptive($property, $startSize, $minSize, $type) {
    $addSize: $startSize - $minSize;
    @if $type == 1 {
        // Если меньше контейнера
        #{$property}: $startSize + px;
        @media (max-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
        }
    } @else if $type == 2 {
        // Если больше контейнера
        #{$property}: $startSize + px;
        @media (min-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
        }
    } @else {
        // Всегда
        #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
}
#main-page {
    background: url(../img/BG.png) no-repeat top;
}
#check-header {
    background: #5daeab;
}
body {
    font-family: "Source Sans Pro", sans-serif;
}
.header {
    @include adaptive("padding-right", 100, 20, 1);
    @include adaptive("padding-left", 100, 20, 1);
    @include adaptive("padding-top", 10, 5, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    &__logo {
        @include adaptive("font-size", 24, 8, 1);
        font-style: normal;
        font-weight: 900;
        line-height: 29px;
        text-transform: uppercase;
        color: #17252a;
    }
    &__accessibility {
        @include adaptive("width", 100, 40, 1);
        @include adaptive("height", 100, 40, 1);
        border-radius: 50%;
        border: none;
        background: transparent;
    }
    &__accessibility-img {
        filter: hue-rotate(120deg) brightness(10);
        @include adaptive("width", 90, 30, 1);
        @include adaptive("height", 90, 30, 1);
    }
}
.main {
    @include adaptive("max-width", 1108, 300, 1);
    @include adaptive("margin-left", 165, 20, 1);
    @include adaptive("margin-right", 165, 20, 1);
    font-family: "Source Sans Pro", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    &__title {
        @include adaptive("font-size", 58, 20, 1);
        @include adaptive("margin-top", 50, 10, 1);
        font-weight: 900;
        line-height: 56px;
        text-align: center;
        color: #feffff;
    }
    .colorize {
        color: #17252a;
    }
    &__button-new,
    &__button-cont {
        @include adaptive("width", 300, 200, 1);
        @include adaptive("height", 100, 50, 1);
        border-radius: 20px;
        border: none;
        font-weight: bold;
        @include adaptive("font-size", 20, 11, 1);
        line-height: 16px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        background-color: #17252a;
        color: #feffff;
    }
    &__button-new {
        @include adaptive("margin-right", 136, 36, 0);
    }
    &__cards {
        @include adaptive("margin-top", 80, 20, 1);
        @include adaptive("margin-left", 163, 60, 1);
        @include adaptive("margin-right", 163, 60, 1);
        max-width: 94vw;
        display: flex;
        justify-content: space-between;
    }
}
.footer {
    @include adaptive("width", 1114, 280, 1);
    padding-top: 55vh;
    padding-bottom: 5%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin: auto;
    &__text {
        @include adaptive("width", 308, 300, 1);
        @include adaptive("font-size", 16, 6, 1);
        color: #17252a;
    }
    &__contacts {
        @include adaptive("margin-left", 35, 15, 1);
        @include adaptive("font-size", 16, 6, 1);
        display: flex;
        justify-content: flex-end;
        font-family: "Sintony", sans-serif;
        color: #17252a;
    }
    &__email {
        @include adaptive("margin-right", 100, 13, 1);
    }

    &__telephone {
        @include adaptive("margin-right", 10, 3, 1);
    }
}
.popup-fade:before {
    content: "";
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 2;
}
.popup-fade {
    &__popup {
        @include adaptive("padding", 50, 20, 1);
        position: absolute;
        top: 6%;
        left: 20%;
        right: 20%;
        background: #c4c4c4;
        border-radius: 5px;
        z-index: 9;
        opacity: 1;
        display: flex;
        flex-direction: column;
    }
    &__popup-close {
        @include adaptive("top", 10, 2, 1);
        background: transparent;
        border: none;
        position: absolute;
        right: 10px;
    }
    &__inputs {
        @include adaptive("font-size", 14, 8, 1);
        font-family: "Source Sans Pro";
        font-weight: 900;
        display: flex;
        flex-direction: column;
    }
    &__input {
        @include adaptive("font-size", 18, 8, 1);
        @include adaptive("margin-bottom", 4, 6, 1);
    }
    &__input:not(:first-child) {
        @include adaptive("margin-top", 16, 8, 1);
    }
    .modal-input {
        @include adaptive("padding", 7, 3, 1);
        width: 90%;
        border-radius: 5px;
        border: none;
    }
    .modal-input:last-child {
        padding-bottom: 5vh;
    }
    &__start {
        @include adaptive("width", 150, 50, 1);
        @include adaptive("height", 50, 20, 1);
        @include adaptive("font-size", 18, 8, 1);
        @include adaptive("margin-top", 16, 8, 1);
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 1px;
        border: none;
        border-radius: 10px;
        margin-left: auto;
        background-color: #17252a;
        color: #feffff;
    }
    &__ps {
        @include adaptive("font-size", 12, 6, 1);
        margin-bottom: auto;
    }
}
.check-main {
    @include adaptive("margin-top", 20, 5, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    &__buttons {
        @include adaptive("padding", 8, 3, 1);
        width: 84%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__div {
        display: flex;
        align-items: center;
    }
    &__back-btn {
        border: none;
        background-color: transparent;
    }
    .btn-back-img {
        @include adaptive("width", 60, 10, 1);
        @include adaptive("height", 60, 10, 1);
    }
    #btn-new,
    #btn-open,
    #btn-save {
        border: none;
        background-color: transparent;
    }
    &__btn {
        @include adaptive("width", 140, 50, 1);
        @include adaptive("height", 50, 20, 1);
        @include adaptive("padding-right", 10, 1, 1);
        @include adaptive("padding-left", 10, 1, 1);
        @include adaptive("font-size", 16, 4, 1);
        @include adaptive("line-height", 14, 4, 1);
        font-family: "Source Sans Pro";
        font-weight: bold;
        letter-spacing: 1px;
        color: #2b7a78;
        border: 2px solid #2b7a78;
        border-radius: 10px;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .btn-img {
        @include adaptive("width", 33, 13, 1);
        @include adaptive("height", 33, 13, 1);
        @include adaptive("padding-right", 10, 1, 0);
    }
    &__btn-generation {
        @include adaptive("width", 200, 80, 1);
        @include adaptive("height", 60, 20, 1);
        @include adaptive("font-size", 18, 6, 1);
        font-family: "Source Sans Pro";
        font-weight: bold;
        letter-spacing: 1px;
        color: #17252a;
        border: none;
        background-color: #17252a;
        color: #f2f2f2;
        border-radius: 10px;
    }
    &__content {
        font-family: "Source Sans Pro";
        display: flex;
        max-width: 90%;
    }
    &__check-lists {
        @include adaptive("margin-top", 10, 5, 1);
        border-right: 3px solid #2b7a78;
        display: flex;
        flex-direction: column;
        width: 13%;
    }
    &__check-list {
        @include adaptive("height", 90, 30, 1);
        @include adaptive("width", 116, 29, 1);
        @include adaptive("margin-bottom", 10, 3, 1);
        @include adaptive("padding", 4, 1, 1);
        @include adaptive("font-size", 14, 4, 0);
        font-weight: bold;
        color: #17252a;
        text-transform: uppercase;
        border: 1px solid #2b7a78;
        background-color: #feffff;
        border-radius: 3px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    &__check-list-svg {
        position: absolute;
        top: 0;
        right: 0;
    }
    &__container {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    &__named {
        @include adaptive("margin", 10, 3, 1);
        @include adaptive("padding", 12, 3, 1);
        @include adaptive("margin-right", -10, -3, 1);
        display: flex;
        align-items: center;
        border: 3px solid #2b7a78;
        border-radius: 5px;
        position: relative;
    }
    &__name-check {
        @include adaptive("padding", 5, 1, 1);
        @include adaptive("padding-left", 15, 3, 1);
        @include adaptive("font-size", 14, 8, 1);
        font-weight: normal;
        letter-spacing: 2px;
        color: #6d7783;
        width: 100%;
        border: none;
        border-radius: 5px;
    }
    #check-name {
        width: 2vw;
        height: 2vw;
        position: absolute;
        right: 1vw;
    }
    &__check {
        @include adaptive("margin-left", 10, 3, 1);
        @include adaptive("margin-right", -10, -3, 1);
        @include adaptive("height", 600, 300, 1);
        margin-top: 0px;
        display: flex;
    }
    &__section {
        @include adaptive("padding", 25, 1, 1);
        border-radius: 5px;
        border: 3px solid #2b7a78;
        overflow: auto;
        display: flex;
        flex-direction: column;
    }

    &__title {
        @include adaptive("font-size", 20, 8, 1);
        font-weight: bold;
        line-height: 14px;
        text-align: right;
        letter-spacing: 2px;
        text-decoration-line: underline;
        color: #17252a;
    }
    &__per,
    &__mist,
    &__comm,
    &__title-wgac {
        @include adaptive("padding-top", 20, 5, 1);
        @include adaptive("font-size", 16, 6, 1);
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        letter-spacing: 1px;
        color: #17252a;
    }
    #per,
    #mist,
    #comm {
        @include adaptive("font-size", 14, 6, 1);
        @include adaptive("padding", 5, 1, 1);
        width: 56%;
        border-radius: 5px;
        border: 1px solid #17252a;
        background-color: #feffff;
    }
    #comm {
        height: 20vw;
    }
    &__wgac {
        @include adaptive("font-size", 14, 6, 1);
        line-height: 8px;
        text-align: right;
        letter-spacing: 1px;
        color: #17252a;
    }
    &__title-wgac {
        @include adaptive("margin-bottom", 20, 6, 1);
    }
    &__crits {
        @include adaptive("margin-left", 10, 3, 1);
        @include adaptive("padding-left", 8, 2, 0);
        border-left: 3px solid #2b7a78;
        border-bottom: 3px solid #2b7a78;
        border-bottom-left-radius: 5px;
        width: 20%;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    &__check-crit {
        @include adaptive("height", 40, 5, 1);
        @include adaptive("margin-bottom", 15, 3, 1);
        @include adaptive("padding-right", 15, 3, 1);
        @include adaptive("font-size", 13, 4, 1);
        width: 78%;
        font-weight: bold;
        border: 1px solid #2b7a78;
        background-color: #feffff;
        color: #17252a;
        display: flex;
        align-items: center;
        justify-content: end;
        border-radius: 3px;
        position: relative;
    }
    &__check-crit-svg {
        @include adaptive("margin-right", 10, 3, 1);
        position: absolute;
        left: 0;
    }
}
.check-popup-fade:before {
    content: "";
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 2;
}
.check-popup-fade {
    @include adaptive("font-size", 14, 6, 1);
    font-family: "Source Sans Pro";
    font-weight: 900;
    color: #17252a;
    &__popup {
        @include adaptive("padding", 50, 10, 1);
        position: absolute;
        top: 6%;
        left: 18vw;
        right: 18vw;
        background: #c4c4c4;
        border-radius: 10px;
        z-index: 99;
        opacity: 1;
        display: flex;
        flex-direction: column;
    }
    &__popup-close {
        background: transparent;
        border: none;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    &__title {
        @include adaptive("font-size", 20, 8, 1);
        text-align: center;
    }

    &__content {
        @include adaptive("padding", 20, 5, 1);
    }
    input {
        @include adaptive("width", 20, 10, 1);
        @include adaptive("height", 20, 10, 1);
        @include adaptive("margin-right", 10, 5, 1);
    }
    .cb-container {
        display: flex;
        align-items: center;
    }
    .param-container {
        display: flex;
        justify-content: space-between;
    }
    &__check-lists,
    &__smist,
    &__perform,
    &__wgac,
    &__comm,
    &__conclus {
        @include adaptive("margin-top", 10, 5, 1);
        @include adaptive("padding-top", 10, 5, 1);
        display: flex;
        align-items: start;
        border-top: 1px solid #17252a;
    }
    &__smist,
    &__comm,
    &__conclus {
        align-items: center;
        justify-content: start;
    }

    #cb-sourmist,
    #cb-comm,
    #cb-conclus {
        @include adaptive("margin-left", 20, 5, 1);
    }

    &__check-container {
        @include adaptive("margin-left", 100, 40, 1);
        display: flex;
        flex-direction: column;
    }

    &__param-title {
        @include adaptive("margin-bottom", 20, 5, 1);
        text-align: center;
    }

    &__param {
        @include adaptive("margin-top", 20, 5, 1);
        border-top: 2px solid #17252a;
    }

    &__ok {
        @include adaptive("width", 100, 40, 1);
        @include adaptive("height", 50, 20, 1);
        @include adaptive("font-size", 16, 8, 1);
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 1px;
        border: none;
        border-radius: 10px;
        margin-left: auto;
        background-color: #17252a;
        color: #feffff;
    }
}
p {
    margin-top: 0;
    margin-bottom: 0;
}
.link {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
button {
    cursor: pointer;
}
.hidden {
    display: none;
}
.check-list-active {
    background-color: #2b7a78;
    text-decoration-line: underline;
    color: #feffff;
}

.check-crit-active {
    background-color: #2b7a78;
    text-decoration-line: underline;
    color: #d8d8d8;
}
